.category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px 8px 16px;
    background-color: #fff;
    border-radius: 19px;
    margin-bottom: 16px;
    width: fit-content;
}

.category__text {
    color: #391400;
    font-weight: 400;
    font-size: 16px;
}