.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 370px;
    height: 416px;
    margin-right: 30px;
    margin-bottom: 32px;
    border-radius: 6px;
    background-repeat: no-repeat;
    padding-bottom: 53px;
    padding-left: 58px;
}

.title {
    font-size: 40px;
    color: #fff;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px 8px 16px;
    background-color: #fff;
    border-radius: 19px;
    margin-bottom: 16px;
    width: fit-content;
}

.category__text {
    color: #391400;
    font-weight: 400;
    font-size: 16px;
}